/* Corps centré */
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 50px 0;
    font-family: sans-serif;
    background-color: rgb(253, 244, 201);
} */

.last {
    background-color: lightgray;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 30px;
    opacity: 75%;
    font-weight: bold;
    color: black;
}

.last p {
    font-size: 1.5rem;
}

.podium {
    background-image: url("../images/leaderboard/leaderboard.png");
    width: 90%;
    max-width: 800px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    
    margin: 40px auto;
    position: relative;
}

.place {
    position: absolute;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 300px;
}

.first {
    bottom: 68%;
    left: 50%;
    transform: translateX(-50%);
}

.first p {
    font-size: 2rem;
}

.second {
    bottom: 48%;
    left: 0;
}

.second p {
    font-size: 1.8rem;
}

.third {
    bottom: 35%;
    right: 0;
}

.third p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .first p { font-size: 1.5rem; }
    .second p { font-size: 1.2rem; }
    .third p { font-size: 1rem; }
    .place { width: 33%; }
}